/* src/styles/Home.css */
html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.home {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.full-page {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
}