/* src/styles/LessonsList.css */
.lessons-list {
    padding: 20px;
    background-color: #1e1e1e;
    /* Dark background color */
    color: #eaeaea;
    /* Light text color */
}

.lessons-list h2 {
    color: #ffffff;
    /* Light text color for headings */
}

.lessons-list ul {
    list-style-type: none;
    padding: 0;
}

.lessons-list li {
    margin: 5px 0;
}

.lessons-list a {
    text-decoration: none;
    color: #61dafb;
    /* Light blue text color for links */
}

.lessons-list a:hover {
    text-decoration: underline;
}